@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,900&display=swap');

html ,body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(252, 218, 157);
    /* background-color: aquamarine; */
}

.container {
    border: solid rgb(51, 34, 9) 2px;
    border-radius: 4px;
    max-width: 60%;
    margin: 0.200em auto 0.100em auto;
    max-height: 100%;
}

/*  Characters */
.container div {
    border: solid rgb(97, 59, 1) 2px;
    border-radius: 4px;
    width: 90%;
    padding: 0;
    margin: 0.500em auto;
    background-color: rgb(214, 156, 8);
}

.flex-of-characters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar {
    width: 50%;
    border: solid rgb(75, 53, 29) 2px;
    border-radius: 4px;
}

.text-div , #health , #dice-count {
    font-weight: 700;
}
/* Reusable Classes */

.container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Button */

.attack-box {
    max-width: 60%;
    margin: 0 auto;
    background-color: rgb(214, 156, 8);
    border: solid rgb(97, 59, 1) 2px;
    border-radius: 4px;
}


/* Default Behavior */

#attack {
    padding: 0.800em 2.2em;
    margin: 1em auto;
    border: none;
    border-radius: 4px;
    background-color: brown;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

#attack:hover , #attack:focus {
    background-color: rgba(165, 42, 42, 0.774);
}


.container {
    background-color: rgb(139, 55, 5);
}

div p {
    margin: 0.50em auto;
    padding: 0;
}
img {
    width: 100%;
}

/* Attack Box */

@media (min-width: 400px) {
    .container-flex {
        flex-direction: row;
    }
    .container {
        max-width: 80%;
        padding: 1em;
        margin-top: 10%;
    }
}