html ,body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100%;
}

.container {
    border: solid black 2px;
    max-width: 90%;
    margin: 1em auto;
}

/*  Character */
#hero {
    border: solid rgb(159, 228, 207) 2px;
    width: 80%;
    padding: 0;
    margin: 0.500em auto;
}

.flex-of-characters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar {
    width: 50%;
}

/* Reusable Classes */
.container-flex {
    display: flex;
    justify-content: center;
}
/* Default Behavior */
img {
    width: 100%;
}